<h1>Index 3</h1>
id: @ViewBag.id 
username: @ViewBag.username
price: @ViewBag.price
quantity: @ViewBag.quantity
total: @(ViewBag.price * ViewBag.quantity)
photo:
<img src="~/images/@ViewBag.photo" width="120" height="123" />

<br />
<h1>Product Info</h1>
<table border="1">
    <tr>
        <td>ID</td>
        <td>@ViewBag.pro.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@ViewBag.pro.Name</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td>@ViewBag.pro.Photo</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@ViewBag.pro.Price</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>@ViewBag.pro.Quantity</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>@(ViewBag.pro.Price * ViewBag.pro.Quantity)</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>@ViewBag.pro.Created.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td>
            <img src="~/images/@ViewBag.pro.Photo" width="120" height="150" />
        </td>
    </tr>
</table>

<br />
<h1>Name List</h1>
<br />

<ol>
    @foreach (var name in ViewBag.names)
    {
        <li>@name</li>
    };
    
</ol>
<br />
<h3>Product List</h3>
<table border="2">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Created</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    @foreach (var p in @ViewBag.pros)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>
                <img src="~/images/@p.Photo" width="120" height="120">
            </td>
            <td>
                @p.Created.ToString("dd/MM/yyyy");
            </td>
            <td>@p.Price</td>
            <td>@p.Quantity</td>
            <td>@(p.Price * p.Quantity)</td>
        </tr>
    }
</table>
